<div class="profile__footer__followers">
  <div>
    <%=user.followers.size %>
    <strong> Followers</strong>
  </div>
  <div>
    <%=user.followings.size %>
    <strong> Following</strong>
  </div>
</div>
<%= render partial:  "follow_button", locals:{user: user, follow: follow}%>
</div>
