<div class="back_nav">
  <div class="back_nav__link">
    <% unless url.nil? %>
      <a href="<%=url %>">
        <img src="/assets/left_arrow.png">
      </a>
    <% end %>
    <span class="back_nav__link__text">
      <%=title %>
    </span>
  </div>
</div>
