<div class="back_nav">
  <div class="back_nav__link">
    <% unless url.nil? %>
      <a href="<%=url %>">
        <img src="/assets/avatars/left_arrow.png">
      </a>
    <% end %>
    <span class="back_nav__link__text">
      <%=title %>
    </span>
  </div>
  <div class="nav-logo top">
    <%= link_to image_tag("/logo.png"), root_path %>
  </div>
  <% if user_signed_in? %>
    <div class="nav-list"><%= link_to  "Log Out", destroy_user_session_path, method: :delete, class:"sign-out-button"%></div>
  <% end %>
</div>
