/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.index {
   border-left: 1px solid #999B9E;
   border-right: 1px solid #999B9E;
}


.back_nav {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.back_nav__link{
    margin-left: 15px;
    width: 300px;
    font-weight: bold;
}

.back_nav__link__text {
    margin-left: 45px;
    font-size: 20px;
}

.tuit-card:first-child {
    border-top: 2px solid #999B9E;
}

.tuit-card {
    border-bottom: 2px solid #999B9E;
}
