$bg-color: #1d2128;
$font-color: #ffffff;
.wrap-side-bar-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  width: 100%;
  background: $bg-color;
  padding: 30px 0;
  background-color: rgba(153, 155, 158, 0.25);
}
.side-bar-login {
  width: 100%;
}
.side-bar-login h2 {
  display: grid;
  font-size: 20px;
  gap: 10px;
  grid-template-rows: repeat(2, auto);
  justify-content: center;
}

.signup-side-bar {
  text-align: center;
  color: $font-color;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-left: 10px;
}
.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 200px;
}
.remember {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.remember label {
  margin-left: 5px;
  width: 90%;
}
.new_user .field input {
  width: 100%;
  border-radius: 15px;
  height: 40px;
  border-style: none;
  padding: 0 8px;
}
.field input[type="submit"] {
  cursor: pointer;
  background: #1da1f2;
}
.field label {
  align-self: flex-start;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer-side-bar {
  border-top: 1px solid #ffffff;
  color: $font-color;
  text-align: center;
  max-width: 170px;
  margin: 0 auto;
  padding: 20px 14px 14px 14px;
  font-size: 14px;
  line-height: 16px;
}
.actions {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actions input {
  color: white;
  width: 150px;
  font-weight: bolder;
  font-size: 17px;
  height: 35px;
  border-style: none;
  background: #1da1f2;
  border-radius: 100px;
  margin-top: 10px;
  animation: login_animation infinite 2s;
}
.actions input:hover {
  animation: none;
  background: #ffffff;
  color: #1da1f2;
}
@keyframes login_animation {
  0% {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(154, 199, 241, 0.5);
    -moz-box-shadow: 0px 4px 4px 0px rgba(154, 199, 241, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(154, 199, 241, 0.5);
  }
  50% {
    -webkit-box-shadow: 0px 4px 6px 0px rgba(154, 199, 241, 0.75);
    -moz-box-shadow: 0px 4px 6px 0px rgba(154, 199, 241, 0.75);
    box-shadow: 0px 4px 6px 0px rgba(154, 199, 241, 0.75);
  }
  100% {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(154, 199, 241, 0.5);
    -moz-box-shadow: 0px 4px 4px 0px rgba(154, 199, 241, 0.5);
    box-shadow: 0px 4px 4px 0px rgba(154, 199, 241, 0.5);
  }
}
.actions-face {
  text-align: center;
  margin-top: 10px;
  width: 150px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1d5cd7;
}
.actions-face a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-style: none;
  border-radius: 100px;
}
.actions-git {
  text-align: center;
  margin-top: 10px;
  width: 150px;
  height: 35px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191a1b;
}
.actions-git a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-style: none;
  border-radius: 100px;
}
.signup-side-bar a {
  color: #1da1f2;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: 100px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #1da1f2;
  border-width: 3px;
  text-decoration: none;
  transition: all 0.5s;
  background-color: rgba(153, 155, 158, 0.25);
}
.signup-side-bar a:hover {
  background-color: #ffffff;
}
/*------------SIGN UP FORM SOME FEATURES ADDEDS ------------------------*/
section.index > .new_user {
  width: 100%;
  justify-content: center;
}
.field-signup {
  padding-left: 40px;
  max-width: 490px;
  width: 80%;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field-signup input,
.field-signup textarea {
  width: 60%;
  background: #ffffff;
  border-radius: 15px;
  height: 40px;
  border-style: none;
  padding: 0 8px;
}
.field-signup textarea {
  height: 80px;
}
.field-signup label,
.field-signup-file label,
.field-signup-bio label {
  max-width: 90px;
  font-size: 18px;
  font-weight: bold;
}
.field-signup label::after,
.field-signup-file label::after,
.field-signup-bio label::after {
  content: ":";
}
label em {
  width: 100%;
}
div.sign_up_button input {
  padding: 0 10px;
  width: fit-content;
}
.field-signup-file {
  padding-left: 40px;
  max-width: 490px;
  width: 80%;
  color: white;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.field-signup-file input#user_avatar {
  background: transparent;
  width: 60%;
}
#user_avatar::-webkit-file-upload-button {
  background: transparent;
  border: 1px solid #1da1f2;
  color: #1da1f2;
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  font-weight: 600;
  padding: 0 15px;
  transition: all 0.5s;
}
#user_avatar::-webkit-file-upload-button:hover {
  color: #ffffff;
  background: #1da1f2;
}
.field-signup-bio {
  padding-left: 40px;
  max-width: 490px;
  width: 80%;
  color: white;
  margin-top: 10px;
}
.field-signup-bio label,
.field-signup-bio textarea {
  width: 100%;
}
.field-signup-bio textarea {
  height: 120px;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
}
div.coming-soon {
  margin: 40px auto;
  width: fit-content;
  max-width: 210px;
}
div.coming-soon img {
  width: 100%;
}
/*----- log out ---*/
.nav-logout {
  text-align: center;
  padding-top: 50px;
}
.nav-logout a {
  color: #e0245e;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: 100px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: #e0245e;
  border-width: 3px;
  text-decoration: none;
  background-color: $bg-color;
}
/*----- delete tuit ---*/
.tuit-delete {
  text-align: center;
  margin: 15px 10px auto 0px;
}
.tuit-delete a {
  color: #e0245e;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 8px;
  border-radius: 100px;
  border-style: solid;
  border-color: #e0245e;
  border-width: 3px;
  text-decoration: none;
  background-color: $bg-color;
}
