.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  position: sticky;
  top: 0;
  width: fit-content;
  background: rgba(153, 155, 158, 0.25);
}
.suggestions strong{
  margin: 15px 0;
}
.card_suggestion {
  display: flex;
  min-width: 180px;
  max-width: 200px;
  height: 85px;
  position: relative;
  margin-bottom: 5px;
  background: #1D2128;
  padding: 3px;
}
.card_suggestion .follow-button {
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.card_suggestion .follow-button #button-follow-a {
  font-size: 12px;
}
.card_suggestion .tuit-avatar {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.suggestion-user{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: flex-start;
  justify-content: flex-start;
}
.suggestion-user strong,
.suggestion-user span{
  margin-top: 2px 0;
  font-size: 14px;
}
.suggestion-user span{
  margin-top: 0;
  font-size: 12px;
color: #8899A6;
}
strong.strong_suggestions{
  margin: 5px 0;
}