.tuit-card {
  display: flex;
  padding: 15px;
  width: 100%;
  position: relative;
}
.show__tuit-card {
  display: flex;
  padding: 15px;
}
.tuit-avatar {
  border-radius: 40px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-top: 10px;
}
.tuit-avatar img {
  height: 50px;
}

.body-author {
  margin: 7px 0;
}

.body-info {
  margin: 7px 0;
}

.tuit-body {
  width: 600px;
}

.show__body-info {
  margin: 7px 0;
  padding: 7px 0;
  width: 100%;
  border-top: 1px solid #999b9e;
}
.grey_text {
  color: #999b9e;
}

.show__body-text p {
  font-size: 21px;
  margin-bottom: 10px;
}

.show__card {
  display: grid;
}
.info-reactions {
  margin: 10px 0 17px 0;
}
.like {
  margin-left: 100px;
}

.tuit__create_comment {
    padding: 15px;
    border-top: 2px solid #999b9e;
    border-bottom: 2px solid #999b9e;
}

.tuit__create_comment__body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.tuit__create_comment__comment {
    width: 600px;
    height: 40px;
    font-size: 24px;
    background: transparent;
    color: #999b9e;
    border: none;
    resize: none;
    padding: 5px;
    outline: none;
}

.tt_btn_solid {
    font-weight: bold;
    font-size: 16px;
    background: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    padding: 1vh;
    border-radius: 40px;
    outline: none;
    cursor: pointer;
}

.tuit__create_comment__footer {
    display: flex;
    justify-content: flex-end;
}