// Place all the styles related to the Tuits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.liked {
  color: #e0245e;
}
.nav-list:last-child {
  width: 100%;
}
.nav-links a.sign-out-button {
  width: fit-content;
  color: #e0245e;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #e0245e;
}
.back_nav,
.side-nav {
  position: sticky;
  top: 0;
  background: #1d2128;
  z-index: 2;
}
.side-nav {
  top: 20px;
  position: sticky;
  margin-top: 10px;
  z-index: 2;
}
.wrap-side-bar-login {
  top: 0;
  position: sticky;
}
#profile_nav_tuits,
#profile_nav_likes {
  width: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 10px 0;
}
.visited {
  background: #ffffff;
  border: 2px solid #1da1f2;
}
.visited a {
  color: #1da1f2;
  font-weight: bolder;
}
#profile_nav_tuits a,
#profile_nav_likes a {
  width: 100%;
  height: 100%;
  text-align: center;
}
.hidden {
  display: none;
  visibility: hidden;
}
.home {
  min-height: 100vh;
}
.profile__details .follow-button{
  margin: 20px 0;
}

#button-follow-a{
  border: 1px solid #e0245e ;
  color: #e0245e;

  padding: 5px 7px;
  border-radius: 15px;
}
#button-follow-a.unfollowed{
  border: 1px solid #1DA1F2 ;
  color: #1DA1F2;
}