<div class="footer-side-bar">
      <p>Made with bravery by <strong> <%= link_to "Gerard", "https://github.com/TheJarX"%></strong>, <strong><%= link_to "Robert", "https://github.com/robertmedinasb"%></strong> and <strong><%= link_to "Fer", "https://github.com/fernandinux"%></strong></p>
    </div> 