<nav class="side-nav">
  <div class="nav-logo">
    <%= link_to image_tag("/logo.png"), root_path %>
  </div>
  <ul class="nav-links">
    <li class="nav-list"><img class="nav-icon" src="/explorer.svg" alt="explorer"><%= link_to  "Explorer", root_path %></li>
    <li class="nav-list"><img class="nav-icon" src="/profile.svg" alt="profile"><%= link_to  "Profile", root_path %></li>
  </ul>
</nav>
