        <nav class="side-nav">
  <div class="nav-logo">
    <img src="/logo.png" alt="logo">
  </div>
  <ul class="nav-links">
    <li><%= link_to  "Explorer", root_path %></li>
    <li><%= link_to  "text", root_path %></li>
  </ul>
</nav>
